*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: coral;
    margin: 0;
    padding: 0;
}
#container{
    width: 70%;
    padding: 1rem;
    text-align: center;
    border: 1px solid rebeccapurple;
    margin: 0 auto;
}
