*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

#headerr{
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
    width: 70%;
    padding: 1rem;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 auto;
}


#container{
    width: 70%;
    padding: 1rem;
    text-align: center;
    border: 1px solid rebeccapurple;
    margin: 0 auto;
}
